<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit List Item</title>
    <script src="https://kit.fontawesome.com/16d5fea40a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<!-- Mayanwolfe's code with my variables swapped in-->
<body>
    <section class="listContainer">
        <h2>Edit List Item</h2>
        <section class="packingItem">
            <ul class="packingList">
                <% packingItems.forEach(details=> { %>
                    <% if (item._id==idItem) { %>
                        <li class="packingListItem">
                            <form action="/edit/<%= item._id %>" method="POST">
                                <input type="text" value="<%= item.title %>" name="title">
                                <textarea rows="6" cols="45" name="description"><%= details.content %></textarea>
                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                            <li class="packingListItem">
                                <div class="packingListItemTitle">
                                    <%- item.title %>
                                </div>
                                <div class="packingListItemDescription">
                                    <%- item.description %>
                                </div>
                                <a href="/edit/<%= item._id %>" class="edit"> <span class="fas fa-edit"></span>
                                </a>
                                <a href="/remove/<%= item._id %>" class="remove"> <span class="fas fa-times"></span>
                                </a>
                            </li>
                            <% } %>
                                <% }) %>
            </ul>
        </section>
    </section>
</body>

<!-- My code following the stream -->
<body>
    <section class = "listContainer">
        <h2>Packing List</h2>
        <section class = "packingItem">
            <ul class = "packingList">
                <% packingItems.forEach(item => {%>
                    <%if (item._id == idItem) {%>
                        <li class = "packingListItem">
                            <form action="/edit/<%=item._id%>" method = "POST">
                                <input type="text" name="title" value="<%=item.title>">
                                <textarea name="description" value = "<%item.description>" id="" cols="30" rows="10"></textarea>
                                <button type ="submit" class = "confirm">Confirm</button>
                                <a href="/" class = "cancel">Cancel</a>
                            </form>
                        </li>
                        
                        <li class = "packingListItem">
                            <div class = "packingListItemTitle">
                                <%=item.title %>
                            </div>
                            <div class = "packingListItemDescription">
                                <%=item.description %>
                            </div>
                            <a href="/edit/<%=item._id %>" class ="edit"><span class = "fas     fa-edit"></ span></a>
                            <a href="/remove/<%=item._id %>" class ="remove"><span class = "fas         fa-times"></span></a>
                        </li>
                    <% } else { %>
                        <li class = "packingListItem">
                                    <div class = "packingListItemTitle">
                                        <%=item.title %>
                                    </div>
                                    <div class = "packingListItemDescription">
                                        <%=item.description %>
                                    </div>
                                    <a href="/edit/<%=item._id %>" class ="edit"><span class = "fas fa-edit"></span></a>
                                    <a href="/remove/<%=item._id %>" class ="remove"><span class =  "fas fa-times"></span></a>
                                </li>
                            
                    <% } %>
                <% }) %>
            </ul>
        </section>
    </section>

</body>
</html>